<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896115515295-j3lsqbd7kh7g725mrlroup26etnjdcnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896115515295-j3lsqbd7kh7g725mrlroup26etnjdcnp</string>
	<key>API_KEY</key>
	<string>AIzaSyDYcBKSB_wvzlF7o_qtuGl_EA8XoIR0sfE</string>
	<key>GCM_SENDER_ID</key>
	<string>896115515295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neo.org.covidTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>covid-tracker-project-baf91</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-tracker-project-baf91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896115515295:ios:eb4a17e2e83d22a4dfe7aa</string>
</dict>
</plist>